USE [WEBDAYTHEM1]
GO
/****** Object:  Table [dbo].[BANG_GIA_HOC_PHI]    Script Date: 12/25/2019 10:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_GIA_HOC_PHI](
	[MA_HOC_PHI] [uniqueidentifier] NOT NULL,
	[NGAY_AP_DUNG] [date] NOT NULL,
	[MA_MON] [uniqueidentifier] NOT NULL,
	[DN_GIA] [money] NOT NULL,
	[SO_BUOI] [float] NOT NULL,
	[SI_SO] [int] NULL,
 CONSTRAINT [PK_BANG_GIA_HOC_PHI] PRIMARY KEY CLUSTERED 
(
	[MA_HOC_PHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BANG_LUONG]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_LUONG](
	[MA_LOAI_LUONG] [uniqueidentifier] NOT NULL,
	[TEN_LOAI] [nvarchar](50) NULL,
	[SO_LUONG_MIN] [float] NULL,
	[SO_LUONG_MAX] [float] NULL,
	[DON_GIA] [float] NULL,
 CONSTRAINT [PK_BANG_LUONG] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_LUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BUOI_HOC]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUOI_HOC](
	[MA_BUOI] [uniqueidentifier] NOT NULL,
	[STT_BUOI] [int] NULL,
	[THOI_GIAN] [datetime] NOT NULL,
	[TINH_TRANG] [bit] NULL,
	[MA_GV] [nchar](10) NULL,
	[MA_LUONG] [uniqueidentifier] NULL,
	[MA_LOP] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BUOI_HOC] PRIMARY KEY CLUSTERED 
(
	[MA_BUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONG_NO]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG_NO](
	[MA_CONG_NO] [uniqueidentifier] NOT NULL,
	[TEN_CONG_NO] [nvarchar](50) NULL,
	[TONG_TIEN] [money] NULL,
	[NGAY_THANH_TOAN] [datetime] NULL,
	[NGAY_LAP_CONG_NO] [datetime] NOT NULL,
	[MA_HS] [nchar](10) NOT NULL,
	[TRANG_THAI] [bit] NOT NULL,
 CONSTRAINT [PK_CONG_NO] PRIMARY KEY CLUSTERED 
(
	[MA_CONG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_BUOIHOC]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BUOIHOC](
	[MA_BUOI] [uniqueidentifier] NOT NULL,
	[MA_CT] [uniqueidentifier] NOT NULL,
	[DIEM_DANH_HS] [bit] NULL,
	[NHAN_XET_GV] [nvarchar](200) NULL,
	[BAI_TAP_VN] [nvarchar](50) NULL,
	[LI_DO_VANG] [nvarchar](100) NULL,
	[DIEM] [float] NULL,
 CONSTRAINT [PK_CT_BUOIHOC] PRIMARY KEY CLUSTERED 
(
	[MA_BUOI] ASC,
	[MA_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_CONG_NO]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CONG_NO](
	[MA_CONG_NO] [uniqueidentifier] NOT NULL,
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[THANH_TIEN] [money] NULL,
 CONSTRAINT [PK_CT_CONG_NO] PRIMARY KEY CLUSTERED 
(
	[MA_CONG_NO] ASC,
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MA_HD] [uniqueidentifier] NOT NULL,
	[MA_BUOI] [uniqueidentifier] NOT NULL,
	[LUONG] [float] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_BUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOADON_NGOAIGIO]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON_NGOAIGIO](
	[MA_HD] [uniqueidentifier] NOT NULL,
	[MA_NGOAI_GIO] [uniqueidentifier] NOT NULL,
	[LUONG] [float] NULL,
 CONSTRAINT [PK_CT_HOADON_NGOAIGIO] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_NGOAI_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_LOP_HOC]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LOP_HOC](
	[MA_CT] [uniqueidentifier] NOT NULL,
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[MA_HS] [nchar](10) NOT NULL,
	[NGAY_VAO_HOC] [date] NULL,
 CONSTRAINT [PK_CT_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANH_GIA_CUOI_THANG]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA_CUOI_THANG](
	[MA_DG] [uniqueidentifier] NOT NULL,
	[NHAN_XET] [nvarchar](100) NULL,
	[CHUYEN_CAN] [nvarchar](50) NULL,
	[NGAY_LAP] [date] NULL,
	[MA_LOP] [uniqueidentifier] NULL,
	[MA_HS] [nchar](10) NULL,
 CONSTRAINT [PK_DANH_GIA_CUOI_THANG] PRIMARY KEY CLUSTERED 
(
	[MA_DG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GHI_DANH]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GHI_DANH](
	[MA_TB] [uniqueidentifier] NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[NG_SINH] [datetime] NULL,
	[SDT] [varchar](15) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[TRUONG] [nvarchar](50) NULL,
	[NOI_DUNG] [nvarchar](200) NULL,
	[TINH_TRANG] [bit] NULL,
 CONSTRAINT [PK_GHI_DANH] PRIMARY KEY CLUSTERED 
(
	[MA_TB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MA_GV] [nchar](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[GIOI_TINH] [nvarchar](10) NULL,
	[EMAIL] [varchar](max) NULL,
	[TRANG_THAI] [bit] NOT NULL,
	[ID_DANGNHAP] [char](10) NULL,
	[NG_SINH] [date] NULL,
 CONSTRAINT [PK_giao_vien] PRIMARY KEY CLUSTERED 
(
	[MA_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [uniqueidentifier] NOT NULL,
	[TEN_HD] [nvarchar](30) NOT NULL,
	[MA_GV] [nchar](10) NOT NULL,
	[NGAY_THANH_TOAN] [datetime] NOT NULL,
	[TONG_TIEN] [float] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOC_SINH]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOC_SINH](
	[MA_HS] [nchar](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[NG_SINH] [datetime] NOT NULL,
	[GIOI_TINH] [nvarchar](10) NULL,
	[KHOI] [int] NULL,
	[SDT] [nchar](15) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[SDT_PH] [nchar](15) NULL,
	[NG_VAO_HOC] [datetime] NULL,
	[ID_DANGNHAP] [char](10) NULL,
	[TINH_TRANG] [bit] NULL,
 CONSTRAINT [PK_HOC_SINH] PRIMARY KEY CLUSTERED 
(
	[MA_HS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOI_LOP]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOI_LOP](
	[MA_KHOI] [uniqueidentifier] NOT NULL,
	[TEN_KHOI] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOI_LOP] PRIMARY KEY CLUSTERED 
(
	[MA_KHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP_HOC]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP_HOC](
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[TEN_LOP] [nvarchar](50) NOT NULL,
	[SI_SO] [int] NULL,
	[MA_GV] [nchar](10) NOT NULL,
	[NGAY_KET_THUC] [date] NULL,
	[NGAY_BAT_DAU] [date] NULL,
	[TRANG_THAI] [smallint] NULL,
	[NGAY_MO_LOP] [date] NULL,
	[MA_HOC_PHI] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LOP_HOC] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[MA_MON] [uniqueidentifier] NOT NULL,
	[MA_KHOI] [uniqueidentifier] NULL,
	[TEN_MON] [nvarchar](50) NULL,
	[LOP] [int] NULL,
 CONSTRAINT [PK_MON_HOC] PRIMARY KEY CLUSTERED 
(
	[MA_MON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGOAI_GIO]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGOAI_GIO](
	[MA_NGOAI_GIO] [uniqueidentifier] NOT NULL,
	[MA_LUONG] [uniqueidentifier] NULL,
	[MA_GV] [nchar](10) NULL,
	[NGAY_LAM] [datetime] NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[TINH_TRANG] [bit] NULL,
 CONSTRAINT [PK_NGOAI_GIO_1] PRIMARY KEY CLUSTERED 
(
	[MA_NGOAI_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ID] [char](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[MAT_KHAU] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAILIEU]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAILIEU](
	[MATL] [uniqueidentifier] NOT NULL,
	[TENTL] [nvarchar](100) NULL,
	[LINK] [nchar](500) NULL,
	[MONHOC] [uniqueidentifier] NULL,
	[KHOI] [int] NULL,
 CONSTRAINT [PK_TAILIEU] PRIMARY KEY CLUSTERED 
(
	[MATL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THOI_KHOA_BIEU]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOI_KHOA_BIEU](
	[MA_LOP] [uniqueidentifier] NOT NULL,
	[THU] [int] NOT NULL,
	[THOI_GIAN_BD] [time](7) NOT NULL,
	[THOI_GIAN_KT] [time](7) NOT NULL,
 CONSTRAINT [PK_THOI_KHOA_BIEU] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC,
	[THU] ASC,
	[THOI_GIAN_BD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BANG_GIA_HOC_PHI] ([MA_HOC_PHI], [NGAY_AP_DUNG], [MA_MON], [DN_GIA], [SO_BUOI], [SI_SO]) VALUES (N'c13638df-02e9-4780-89cc-62f11f0f90ad', CAST(N'2019-12-18' AS Date), N'94f07f44-0710-46fd-ab50-c09f73db2837', 1000.0000, 2, 3)
INSERT [dbo].[BANG_GIA_HOC_PHI] ([MA_HOC_PHI], [NGAY_AP_DUNG], [MA_MON], [DN_GIA], [SO_BUOI], [SI_SO]) VALUES (N'1f5808cf-38f5-4b44-8641-a6eb1004a51f', CAST(N'2019-12-04' AS Date), N'94f07f44-0710-46fd-ab50-c09f73db2837', 2000.0000, 2, 4)
INSERT [dbo].[BANG_GIA_HOC_PHI] ([MA_HOC_PHI], [NGAY_AP_DUNG], [MA_MON], [DN_GIA], [SO_BUOI], [SI_SO]) VALUES (N'e82a2d25-c419-4ebe-9e4a-cf6c70c38efc', CAST(N'2019-12-03' AS Date), N'f80c71b4-00f0-4c4e-ac92-c499a02d7576', 500.0000, 3, 10)
INSERT [dbo].[BANG_LUONG] ([MA_LOAI_LUONG], [TEN_LOAI], [SO_LUONG_MIN], [SO_LUONG_MAX], [DON_GIA]) VALUES (N'ba9fa2d3-e04f-4bb4-aa88-2a82c0f25d4c', N'Trực văn phòng', 0, 0, 100)
INSERT [dbo].[BANG_LUONG] ([MA_LOAI_LUONG], [TEN_LOAI], [SO_LUONG_MIN], [SO_LUONG_MAX], [DON_GIA]) VALUES (N'f9a3a4dc-a61f-4446-a1cf-3ce07ab849e9', N'Lớp 2 HS', 1, 2, 1000)
INSERT [dbo].[BANG_LUONG] ([MA_LOAI_LUONG], [TEN_LOAI], [SO_LUONG_MIN], [SO_LUONG_MAX], [DON_GIA]) VALUES (N'024ee36c-1b22-4014-856c-40f8d7ffc481', N'Lớp 4 HS', 3, 4, 150)
INSERT [dbo].[BUOI_HOC] ([MA_BUOI], [STT_BUOI], [THOI_GIAN], [TINH_TRANG], [MA_GV], [MA_LUONG], [MA_LOP]) VALUES (N'0c8fadb2-104b-4bc0-a160-1ecc3fe87920', 1, CAST(N'2019-12-12 00:00:00.000' AS DateTime), 0, N'1000000001', N'024ee36c-1b22-4014-856c-40f8d7ffc481', N'26725d43-c6b6-4482-8c48-24a4315ad534')
INSERT [dbo].[BUOI_HOC] ([MA_BUOI], [STT_BUOI], [THOI_GIAN], [TINH_TRANG], [MA_GV], [MA_LUONG], [MA_LOP]) VALUES (N'124f1d31-9f5e-4d7c-96ef-3af059a02c93', 4, CAST(N'2019-12-09 00:00:00.000' AS DateTime), 1, N'1000000001', N'029f9b33-3b11-440b-acb1-c047f1f59e44', N'b6642a5f-45a8-4eae-8733-cf46af34348d')
INSERT [dbo].[BUOI_HOC] ([MA_BUOI], [STT_BUOI], [THOI_GIAN], [TINH_TRANG], [MA_GV], [MA_LUONG], [MA_LOP]) VALUES (N'20bc3a98-c3a4-488e-ba8e-a78565634e21', 3, CAST(N'2019-12-06 00:00:00.000' AS DateTime), 1, N'1000000002', N'024ee36c-1b22-4014-856c-40f8d7ffc481', N'b6642a5f-45a8-4eae-8733-cf46af34348d')
INSERT [dbo].[CONG_NO] ([MA_CONG_NO], [TEN_CONG_NO], [TONG_TIEN], [NGAY_THANH_TOAN], [NGAY_LAP_CONG_NO], [MA_HS], [TRANG_THAI]) VALUES (N'ede6d11f-e760-4914-90c8-0778c27af312', NULL, NULL, NULL, CAST(N'2019-12-17 09:51:36.733' AS DateTime), N'2000000001', 0)
INSERT [dbo].[CONG_NO] ([MA_CONG_NO], [TEN_CONG_NO], [TONG_TIEN], [NGAY_THANH_TOAN], [NGAY_LAP_CONG_NO], [MA_HS], [TRANG_THAI]) VALUES (N'9b8dc00d-886b-47c0-8c98-3119d5b69f56', NULL, 7020.0000, CAST(N'2019-07-04 11:50:18.877' AS DateTime), CAST(N'2019-12-04 12:52:10.457' AS DateTime), N'2000000004', 1)
INSERT [dbo].[CONG_NO] ([MA_CONG_NO], [TEN_CONG_NO], [TONG_TIEN], [NGAY_THANH_TOAN], [NGAY_LAP_CONG_NO], [MA_HS], [TRANG_THAI]) VALUES (N'9634ffde-ac3a-4d42-b20d-3d9736205497', NULL, 94000.0000, CAST(N'2019-12-14 11:50:18.877' AS DateTime), CAST(N'2019-12-04 12:51:53.247' AS DateTime), N'2000000003', 1)
INSERT [dbo].[CT_BUOIHOC] ([MA_BUOI], [MA_CT], [DIEM_DANH_HS], [NHAN_XET_GV], [BAI_TAP_VN], [LI_DO_VANG], [DIEM]) VALUES (N'0c8fadb2-104b-4bc0-a160-1ecc3fe87920', N'27391e36-b51e-4867-b92f-029b4425c241', 1, NULL, NULL, N'', NULL)
INSERT [dbo].[CT_BUOIHOC] ([MA_BUOI], [MA_CT], [DIEM_DANH_HS], [NHAN_XET_GV], [BAI_TAP_VN], [LI_DO_VANG], [DIEM]) VALUES (N'0c8fadb2-104b-4bc0-a160-1ecc3fe87920', N'6b7c1a38-ac9d-46f5-9466-c9bbf724d6df', 1, NULL, NULL, N'', NULL)
INSERT [dbo].[CT_BUOIHOC] ([MA_BUOI], [MA_CT], [DIEM_DANH_HS], [NHAN_XET_GV], [BAI_TAP_VN], [LI_DO_VANG], [DIEM]) VALUES (N'0c8fadb2-104b-4bc0-a160-1ecc3fe87920', N'497c9d53-7056-4ee0-bc71-d9b5ccddc7e8', 1, NULL, NULL, N'', NULL)
INSERT [dbo].[CT_CONG_NO] ([MA_CONG_NO], [MA_LOP], [THANH_TIEN]) VALUES (N'ede6d11f-e760-4914-90c8-0778c27af312', N'8da1d448-140a-4bf5-8917-3efc3181f9dc', 1000.0000)
INSERT [dbo].[CT_CONG_NO] ([MA_CONG_NO], [MA_LOP], [THANH_TIEN]) VALUES (N'9b8dc00d-886b-47c0-8c98-3119d5b69f56', N'9ee26f66-2a5b-4966-9738-33dd4ca4abec', 2000.0000)
INSERT [dbo].[CT_CONG_NO] ([MA_CONG_NO], [MA_LOP], [THANH_TIEN]) VALUES (N'9634ffde-ac3a-4d42-b20d-3d9736205497', N'9ee26f66-2a5b-4966-9738-33dd4ca4abec', 2000.0000)
INSERT [dbo].[CT_HOADON] ([MA_HD], [MA_BUOI], [LUONG]) VALUES (N'3950b3d4-ab5c-4684-90b6-22faac1f7929', N'20bc3a98-c3a4-488e-ba8e-a78565634e21', 150)
INSERT [dbo].[CT_HOADON] ([MA_HD], [MA_BUOI], [LUONG]) VALUES (N'6654e97d-8147-4c0b-963b-547ae982bf09', N'37628c9a-7d3e-4214-a194-bf8b243f5048', 150)
INSERT [dbo].[CT_HOADON] ([MA_HD], [MA_BUOI], [LUONG]) VALUES (N'6654e97d-8147-4c0b-963b-547ae982bf09', N'659cf0fd-a34a-4e2e-8fce-df6a4e8f15c7', 150)
INSERT [dbo].[CT_HOADON_NGOAIGIO] ([MA_HD], [MA_NGOAI_GIO], [LUONG]) VALUES (N'3950b3d4-ab5c-4684-90b6-22faac1f7929', N'e455d6a5-7f00-447c-8ac4-4e8bc27e91d6', 200)
INSERT [dbo].[CT_LOP_HOC] ([MA_CT], [MA_LOP], [MA_HS], [NGAY_VAO_HOC]) VALUES (N'27391e36-b51e-4867-b92f-029b4425c241', N'26725d43-c6b6-4482-8c48-24a4315ad534', N'2000000005', NULL)
INSERT [dbo].[CT_LOP_HOC] ([MA_CT], [MA_LOP], [MA_HS], [NGAY_VAO_HOC]) VALUES (N'380244b1-63bf-4d1b-899a-0db4bec8b0f8', N'9ee26f66-2a5b-4966-9738-33dd4ca4abec', N'2000000004', NULL)
INSERT [dbo].[CT_LOP_HOC] ([MA_CT], [MA_LOP], [MA_HS], [NGAY_VAO_HOC]) VALUES (N'af00f2e3-c034-4f30-81dc-18894ac160df', N'9ee26f66-2a5b-4966-9738-33dd4ca4abec', N'2000000005', NULL)
INSERT [dbo].[DANH_GIA_CUOI_THANG] ([MA_DG], [NHAN_XET], [CHUYEN_CAN], [NGAY_LAP], [MA_LOP], [MA_HS]) VALUES (N'7cb3d576-9610-4f9f-9f1d-5cd8aa801175', N'aaass', NULL, CAST(N'2019-12-11' AS Date), N'b6642a5f-45a8-4eae-8733-cf46af34348d', N'2000000002')
INSERT [dbo].[DANH_GIA_CUOI_THANG] ([MA_DG], [NHAN_XET], [CHUYEN_CAN], [NGAY_LAP], [MA_LOP], [MA_HS]) VALUES (N'78059dcd-e273-4f7f-b73e-5daa806e103e', N'Có tiến bộ hơn tháng trước, chăm chỉ, cần cù', NULL, CAST(N'2019-12-04' AS Date), N'b6642a5f-45a8-4eae-8733-cf46af34348d', N'2000000002')
INSERT [dbo].[DANH_GIA_CUOI_THANG] ([MA_DG], [NHAN_XET], [CHUYEN_CAN], [NGAY_LAP], [MA_LOP], [MA_HS]) VALUES (N'3fa967b7-9faf-4c7f-8b12-a1883eb615cd', N'chuyên cần, có tiến bộ', NULL, CAST(N'2019-12-11' AS Date), N'b6642a5f-45a8-4eae-8733-cf46af34348d', N'2000000002')
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [HO_TEN], [SDT], [GIOI_TINH], [EMAIL], [TRANG_THAI], [ID_DANGNHAP], [NG_SINH]) VALUES (N'1000000001', N'Huỳnh Văn Thật', N'0372417640     ', N'Nam', N'huynhvanthatk16@gmail.com', 1, NULL, CAST(N'1990-02-05' AS Date))
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [HO_TEN], [SDT], [GIOI_TINH], [EMAIL], [TRANG_THAI], [ID_DANGNHAP], [NG_SINH]) VALUES (N'1000000002', N'Nguyễn Văn Hùng', N'0907068478     ', N'Nam', N'hung@gmail.com', 1, NULL, CAST(N'1992-12-12' AS Date))
INSERT [dbo].[GIAO_VIEN] ([MA_GV], [HO_TEN], [SDT], [GIOI_TINH], [EMAIL], [TRANG_THAI], [ID_DANGNHAP], [NG_SINH]) VALUES (N'1000000003', N'Phạm Minh Luân', N'0372415678     ', N'Nam', N'xoaytrongcu@gmail.com', 0, NULL, CAST(N'1992-01-09' AS Date))
INSERT [dbo].[HOA_DON] ([MA_HD], [TEN_HD], [MA_GV], [NGAY_THANH_TOAN], [TONG_TIEN]) VALUES (N'3950b3d4-ab5c-4684-90b6-22faac1f7929', N'Lương tháng 12/2019', N'1000000002', CAST(N'2019-12-04 01:28:51.963' AS DateTime), 3500)
INSERT [dbo].[HOA_DON] ([MA_HD], [TEN_HD], [MA_GV], [NGAY_THANH_TOAN], [TONG_TIEN]) VALUES (N'6654e97d-8147-4c0b-963b-547ae982bf09', N'Lương tháng 10/2019', N'1000000001', CAST(N'2019-10-04 01:28:52.057' AS DateTime), 3000)
INSERT [dbo].[HOA_DON] ([MA_HD], [TEN_HD], [MA_GV], [NGAY_THANH_TOAN], [TONG_TIEN]) VALUES (N'3ce6b665-0f9a-4452-940a-a875203644a0', N'Lương tháng 9/2019', N'1000000003', CAST(N'2019-09-11 06:34:25.330' AS DateTime), 1500)
INSERT [dbo].[HOC_SINH] ([MA_HS], [HO_TEN], [NG_SINH], [GIOI_TINH], [KHOI], [SDT], [DIA_CHI], [SDT_PH], [NG_VAO_HOC], [ID_DANGNHAP], [TINH_TRANG]) VALUES (N'2000000001', N'nguyễn thị hồng diệu', CAST(N'2007-06-09 00:00:00.000' AS DateTime), N'Nữ', 7, N'0399968097     ', N'12 trịnh đình thảo', N'0129838523     ', CAST(N'2019-02-03 17:43:58.000' AS DateTime), N'2000000001', 1)
INSERT [dbo].[HOC_SINH] ([MA_HS], [HO_TEN], [NG_SINH], [GIOI_TINH], [KHOI], [SDT], [DIA_CHI], [SDT_PH], [NG_VAO_HOC], [ID_DANGNHAP], [TINH_TRANG]) VALUES (N'2000000002', N'Phạm Hữu Ngọc', CAST(N'1998-08-07 00:00:00.000' AS DateTime), N'Nam', 12, N'0372417647     ', N'140 lê trọng tấn', N'0372417647     ', CAST(N'2019-10-03 23:24:23.000' AS DateTime), N'2000000002', 1)
INSERT [dbo].[HOC_SINH] ([MA_HS], [HO_TEN], [NG_SINH], [GIOI_TINH], [KHOI], [SDT], [DIA_CHI], [SDT_PH], [NG_VAO_HOC], [ID_DANGNHAP], [TINH_TRANG]) VALUES (N'2000000003', N'Nguyễn Văn Tuấn', CAST(N'2003-06-18 00:00:00.000' AS DateTime), N'Nam', 7, N'0909090909     ', N'142 Lê trọng tấn', N'0808080808     ', CAST(N'2019-10-04 12:32:31.000' AS DateTime), N'2000000003', 1)
INSERT [dbo].[KHOI_LOP] ([MA_KHOI], [TEN_KHOI]) VALUES (N'4aeb4e09-b7fe-4927-b4f7-13a14484975f', N'THPT')
INSERT [dbo].[KHOI_LOP] ([MA_KHOI], [TEN_KHOI]) VALUES (N'f1940fd4-6a2f-4e6c-94d6-23b4e69af6e5', N'Tiểu Học')
INSERT [dbo].[KHOI_LOP] ([MA_KHOI], [TEN_KHOI]) VALUES (N'a6ce2ac4-c76e-4a26-889b-607e7e7f5269', N'THCS')
INSERT [dbo].[LOP_HOC] ([MA_LOP], [TEN_LOP], [SI_SO], [MA_GV], [NGAY_KET_THUC], [NGAY_BAT_DAU], [TRANG_THAI], [NGAY_MO_LOP], [MA_HOC_PHI]) VALUES (N'26725d43-c6b6-4482-8c48-24a4315ad534', N'Toán 12 A1', 3, N'1000000002', NULL, CAST(N'2019-12-04' AS Date), 0, CAST(N'2019-12-04' AS Date), N'e82a2d25-c419-4ebe-9e4a-cf6c70c38efc')
INSERT [dbo].[LOP_HOC] ([MA_LOP], [TEN_LOP], [SI_SO], [MA_GV], [NGAY_KET_THUC], [NGAY_BAT_DAU], [TRANG_THAI], [NGAY_MO_LOP], [MA_HOC_PHI]) VALUES (N'24307260-e1ae-414c-b1f5-29fc2861153b', N'AV 8 A1', 1, N'1000000001', NULL, CAST(N'2019-12-11' AS Date), 0, CAST(N'2019-12-11' AS Date), N'f46fc036-64c3-49ae-8a90-e890732d4834')
INSERT [dbo].[LOP_HOC] ([MA_LOP], [TEN_LOP], [SI_SO], [MA_GV], [NGAY_KET_THUC], [NGAY_BAT_DAU], [TRANG_THAI], [NGAY_MO_LOP], [MA_HOC_PHI]) VALUES (N'd74ed6ca-1a95-4f27-9d48-31a6edf69679', N'test1', 1, N'1000000004', NULL, CAST(N'2019-12-18' AS Date), 0, CAST(N'2019-12-18' AS Date), N'c13638df-02e9-4780-89cc-62f11f0f90ad')
INSERT [dbo].[MON_HOC] ([MA_MON], [MA_KHOI], [TEN_MON], [LOP]) VALUES (N'27287276-0551-487f-8777-4d0754e86e7e', N'4aeb4e09-b7fe-4927-b4f7-13a14484975f', N'Toán Lớp 10', 10)
INSERT [dbo].[MON_HOC] ([MA_MON], [MA_KHOI], [TEN_MON], [LOP]) VALUES (N'7da41799-1aa8-401c-ad9e-5f635c47b18e', N'a6ce2ac4-c76e-4a26-889b-607e7e7f5269', N'Lý Lớp 9', 9)
INSERT [dbo].[MON_HOC] ([MA_MON], [MA_KHOI], [TEN_MON], [LOP]) VALUES (N'94f07f44-0710-46fd-ab50-c09f73db2837', N'a6ce2ac4-c76e-4a26-889b-607e7e7f5269', N'Hóa 7', 7)
INSERT [dbo].[NGOAI_GIO] ([MA_NGOAI_GIO], [MA_LUONG], [MA_GV], [NGAY_LAM], [SO_LUONG], [TINH_TRANG]) VALUES (N'e455d6a5-7f00-447c-8ac4-4e8bc27e91d6', N'ba9fa2d3-e04f-4bb4-aa88-2a82c0f25d4c', N'1000000002', CAST(N'2019-12-04 00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[TAI_KHOAN] ([ID], [TEN], [MAT_KHAU]) VALUES (N'1000000001', N'0372417640', N'123                                               ')
INSERT [dbo].[TAI_KHOAN] ([ID], [TEN], [MAT_KHAU]) VALUES (N'1000000002', N'0907068478', N'123                                               ')
INSERT [dbo].[TAI_KHOAN] ([ID], [TEN], [MAT_KHAU]) VALUES (N'1000000004', N'0399966522', N'123                                               ')
INSERT [dbo].[THOI_KHOA_BIEU] ([MA_LOP], [THU], [THOI_GIAN_BD], [THOI_GIAN_KT]) VALUES (N'26725d43-c6b6-4482-8c48-24a4315ad534', 2, CAST(N'10:00:00' AS Time), CAST(N'11:30:00' AS Time))
INSERT [dbo].[THOI_KHOA_BIEU] ([MA_LOP], [THU], [THOI_GIAN_BD], [THOI_GIAN_KT]) VALUES (N'26725d43-c6b6-4482-8c48-24a4315ad534', 4, CAST(N'10:00:00' AS Time), CAST(N'11:30:00' AS Time))
INSERT [dbo].[THOI_KHOA_BIEU] ([MA_LOP], [THU], [THOI_GIAN_BD], [THOI_GIAN_KT]) VALUES (N'26725d43-c6b6-4482-8c48-24a4315ad534', 6, CAST(N'10:00:00' AS Time), CAST(N'11:30:00' AS Time))
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI]  WITH CHECK ADD  CONSTRAINT [FK_gia1] FOREIGN KEY([MA_MON])
REFERENCES [dbo].[MON_HOC] ([MA_MON])
GO
ALTER TABLE [dbo].[BANG_GIA_HOC_PHI] CHECK CONSTRAINT [FK_gia1]
GO
ALTER TABLE [dbo].[BUOI_HOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOI_HOC_BANG_LUONG] FOREIGN KEY([MA_LUONG])
REFERENCES [dbo].[BANG_LUONG] ([MA_LOAI_LUONG])
GO
ALTER TABLE [dbo].[BUOI_HOC] CHECK CONSTRAINT [FK_BUOI_HOC_BANG_LUONG]
GO
ALTER TABLE [dbo].[BUOI_HOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOI_HOC_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[BUOI_HOC] CHECK CONSTRAINT [FK_BUOI_HOC_GIAO_VIEN]
GO
ALTER TABLE [dbo].[BUOI_HOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOI_HOC_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[BUOI_HOC] CHECK CONSTRAINT [FK_BUOI_HOC_LOP_HOC]
GO
ALTER TABLE [dbo].[BUOI_HOC]  WITH CHECK ADD  CONSTRAINT [pf_bj] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[BUOI_HOC] CHECK CONSTRAINT [pf_bj]
GO
ALTER TABLE [dbo].[CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CONG_NO_HOC_SINH] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[CONG_NO] CHECK CONSTRAINT [FK_CONG_NO_HOC_SINH]
GO
ALTER TABLE [dbo].[CT_BUOIHOC]  WITH CHECK ADD  CONSTRAINT [FK_cn1] FOREIGN KEY([MA_CT])
REFERENCES [dbo].[CT_LOP_HOC] ([MA_CT])
GO
ALTER TABLE [dbo].[CT_BUOIHOC] CHECK CONSTRAINT [FK_cn1]
GO
ALTER TABLE [dbo].[CT_BUOIHOC]  WITH CHECK ADD  CONSTRAINT [FK_cn2] FOREIGN KEY([MA_BUOI])
REFERENCES [dbo].[BUOI_HOC] ([MA_BUOI])
GO
ALTER TABLE [dbo].[CT_BUOIHOC] CHECK CONSTRAINT [FK_cn2]
GO
ALTER TABLE [dbo].[CT_CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CT_CONG_NO_CONG_NO] FOREIGN KEY([MA_CONG_NO])
REFERENCES [dbo].[CONG_NO] ([MA_CONG_NO])
GO
ALTER TABLE [dbo].[CT_CONG_NO] CHECK CONSTRAINT [FK_CT_CONG_NO_CONG_NO]
GO
ALTER TABLE [dbo].[CT_CONG_NO]  WITH CHECK ADD  CONSTRAINT [FK_CT_CONG_NO_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[CT_CONG_NO] CHECK CONSTRAINT [FK_CT_CONG_NO_LOP_HOC]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_BUOI_HOC1] FOREIGN KEY([MA_BUOI])
REFERENCES [dbo].[BUOI_HOC] ([MA_BUOI])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_BUOI_HOC1]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOA_DON]
GO
ALTER TABLE [dbo].[CT_HOADON_NGOAIGIO]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_NGOAIGIO_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CT_HOADON_NGOAIGIO] CHECK CONSTRAINT [FK_CT_HOADON_NGOAIGIO_HOA_DON]
GO
ALTER TABLE [dbo].[CT_HOADON_NGOAIGIO]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_NGOAIGIO_NGOAI_GIO] FOREIGN KEY([MA_NGOAI_GIO])
REFERENCES [dbo].[NGOAI_GIO] ([MA_NGOAI_GIO])
GO
ALTER TABLE [dbo].[CT_HOADON_NGOAIGIO] CHECK CONSTRAINT [FK_CT_HOADON_NGOAIGIO_NGOAI_GIO]
GO
ALTER TABLE [dbo].[CT_LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_LOP_HOC_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[CT_LOP_HOC] CHECK CONSTRAINT [FK_CT_LOP_HOC_LOP_HOC]
GO
ALTER TABLE [dbo].[CT_LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_gialop1] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[CT_LOP_HOC] CHECK CONSTRAINT [FK_gialop1]
GO
ALTER TABLE [dbo].[CT_LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_gialop2] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[CT_LOP_HOC] CHECK CONSTRAINT [FK_gialop2]
GO
ALTER TABLE [dbo].[DANH_GIA_CUOI_THANG]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_CUOI_THANG_HOC_SINH] FOREIGN KEY([MA_HS])
REFERENCES [dbo].[HOC_SINH] ([MA_HS])
GO
ALTER TABLE [dbo].[DANH_GIA_CUOI_THANG] CHECK CONSTRAINT [FK_DANH_GIA_CUOI_THANG_HOC_SINH]
GO
ALTER TABLE [dbo].[DANH_GIA_CUOI_THANG]  WITH CHECK ADD  CONSTRAINT [FK_DANH_GIA_CUOI_THANG_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[DANH_GIA_CUOI_THANG] CHECK CONSTRAINT [FK_DANH_GIA_CUOI_THANG_LOP_HOC]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_TAI_KHOAN] FOREIGN KEY([ID_DANGNHAP])
REFERENCES [dbo].[TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [FK_GIAO_VIEN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_GIAO_VIEN]
GO
ALTER TABLE [dbo].[HOC_SINH]  WITH CHECK ADD  CONSTRAINT [FK_HOC_SINH_TAI_KHOAN] FOREIGN KEY([ID_DANGNHAP])
REFERENCES [dbo].[TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[HOC_SINH] CHECK CONSTRAINT [FK_HOC_SINH_TAI_KHOAN]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_lop1] FOREIGN KEY([MA_HOC_PHI])
REFERENCES [dbo].[BANG_GIA_HOC_PHI] ([MA_HOC_PHI])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_lop1]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [pf_LOPHOC] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [pf_LOPHOC]
GO
ALTER TABLE [dbo].[MON_HOC]  WITH CHECK ADD  CONSTRAINT [FK_MON_HOC_KHOI_LOP] FOREIGN KEY([MA_KHOI])
REFERENCES [dbo].[KHOI_LOP] ([MA_KHOI])
GO
ALTER TABLE [dbo].[MON_HOC] CHECK CONSTRAINT [FK_MON_HOC_KHOI_LOP]
GO
ALTER TABLE [dbo].[NGOAI_GIO]  WITH CHECK ADD  CONSTRAINT [FK_NGOAI_GIO_BANG_LUONG1] FOREIGN KEY([MA_LUONG])
REFERENCES [dbo].[BANG_LUONG] ([MA_LOAI_LUONG])
GO
ALTER TABLE [dbo].[NGOAI_GIO] CHECK CONSTRAINT [FK_NGOAI_GIO_BANG_LUONG1]
GO
ALTER TABLE [dbo].[NGOAI_GIO]  WITH CHECK ADD  CONSTRAINT [FK_NGOAI_GIO_GIAO_VIEN] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[NGOAI_GIO] CHECK CONSTRAINT [FK_NGOAI_GIO_GIAO_VIEN]
GO
ALTER TABLE [dbo].[TAILIEU]  WITH CHECK ADD  CONSTRAINT [FK_TAILIEU_MON_HOC1] FOREIGN KEY([MONHOC])
REFERENCES [dbo].[MON_HOC] ([MA_MON])
GO
ALTER TABLE [dbo].[TAILIEU] CHECK CONSTRAINT [FK_TAILIEU_MON_HOC1]
GO
ALTER TABLE [dbo].[THOI_KHOA_BIEU]  WITH CHECK ADD  CONSTRAINT [FK_THOI_KHOA_BIEU_LOP_HOC] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP_HOC] ([MA_LOP])
GO
ALTER TABLE [dbo].[THOI_KHOA_BIEU] CHECK CONSTRAINT [FK_THOI_KHOA_BIEU_LOP_HOC]
GO
/****** Object:  Trigger [dbo].[trg_DatHang]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DatHang] ON [dbo].[BUOI_HOC] AFTER INSERT AS 
BEGIN
	UPDATE BUOI_HOC
	SET STT_BUOI = ( select COUNT (*) from BUOI_HOC, inserted where BUOI_HOC.MA_LOP = inserted.MA_LOP)
	FROM BUOI_HOC
	Join inserted on BUOI_HOC.MA_BUOI = inserted.MA_BUOI
END
GO
/****** Object:  Trigger [dbo].[trg_SiSO]    Script Date: 12/25/2019 10:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_SiSO] ON [dbo].[CT_LOP_HOC] AFTER INSERT AS 
BEGIN
	UPDATE LOP_HOC
	SET SI_SO = ( select COUNT (*) from CT_LOP_HOC, inserted where CT_LOP_HOC.MA_LOP = inserted.MA_LOP)
	FROM LOP_HOC
	Join inserted on LOP_HOC.MA_LOP = inserted.MA_LOP
END
GO
